#total {
    margin-top: 24px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / 3;
}

.btn-nav {
    grid-column: 1 / 3;
}

#panier-actions {
    grid-column: 1 / 3;
    text-align: center;
}

@media only screen and (min-width: 593px) {
    #total {
        grid-column: 1 / 4;
    }

    .btn-nav {
        grid-column: 2;
    }

    #panier-actions {
        grid-column: 1 / 4;
    }
}

@media only screen and (min-width: 783px) {
    #total {
        grid-column: 1 / 5;
    }

    .btn-nav {
        grid-column: 2 / 4;
    }

    #panier-actions {
        grid-column: 1 / 5;
    }
}

@media only screen and (min-width: 1024px) {
    #total {
        grid-column: 1 / 6;
    }

    .btn-nav {
        grid-column: 3;
    }

    #panier-actions {
        grid-column: 1 / 6;
    }
}